{{ form_start(form) }}

<div class="row">

    <div>
        {{ form_row(form.num_secu) }}
    </div>

    <div>
        {{ form_row(form.nom) }}
    </div>

    <div>
        {{ form_row(form.date_naissance) }}
    </div>

    <div>
        {{ form_row(form.num_tel) }}
    </div>

    <div>
        {{ form_row(form.sexe) }}
    </div>

    {#<div class="col s1">
        {{ form_row(form.date_ajout) }}
    </div>#}

    <div>
        {{ form_row(form.statut) }}
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>

</div>

{{ form_end(form) }}