<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Bienvenue!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>

    <body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            {% block navbar %}
            {% endblock %}

            <div class="navbar-nav">

                {# SI NOUS SOMMES CONNECTÉ #}
                {% if is_granted('ROLE_MEDECIN') or is_granted('ROLE_INFIRMIER') or is_granted('ROLE_ACCUEIL') or is_granted('ROLE_GESTIONNAIRE') or is_granted('ROLE_PHARMACIEN') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">{{ app.user }} (Déconnexion)</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="text-center mt-5">

        {% block message_flash %}
            {% for msg in app.session.flashBag.get('info') %}
                <div class="message-flash">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
        {% endblock %}

        {% block body %}

        {% endblock %}
    </main>

        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/base.js') }}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
